<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-4 offset-lg-2">
            <p>Bajada</p>
            <h1>Titulo Principal</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste
                itaque harum consequatur corporis .
            </p>
        </div>
    </div>
    <div class="row my-3">
        <div id="novedades" class="col-md-5 offset-md-2 py-3">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                {{#each novedades}}
                <li>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#Modal{{id}}"><img
                            src="images/novedades01.jpg" /> {{titulo}}  </a>
                </li>
                {{/each}}
            </ul>
        </div> <!--Cierra Novedades -->
        <!-- Modal -->
        {{#each novedades}}
        <div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                            {{titulo}}
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                          <h4> {{subtitulo}} </h4>
                          <p> {{cuerpo}} </p>

                        </p>
                    </div>
                </div>
            </div>
        </div> 
        {{/each}}
                    <!--Fin modal-->
        <div class="col-md-3 my-3">
            <div class="rounded py-5 testimonios">
                <h2 class="text-center">Testimonios</h2>
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="testimonios">
                                <h2>La mejor cerveza de argentina</h2>
                                <p>Sherlock Holmes, Londres
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="testimonios">
                                <h2> mejor cerveza de argentina</h2>
                                <p>Diego Valeri, V.Alsina</p>
                            </div>



                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            </div>


        </div> <!--cierra fila-->

        <div id="historia" class="row align-items-center py-4"> <!--Aca Arranca la seccion historia:)-->
            <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
                <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 d-none d-sm-block">
                <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">
            </div>
            <div class="col-12 d-sm-none">
             <img src="images/historia_3.jpg" alt="Historia 3" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
                <h2>Historia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero voluptas voluptatem cum fugiat fuga,
                    deserunt laboriosam illo dolorem sint itaque,
                    asperiores dignissimos veritatis voluptate aspernatur natus eius tempora deleniti rem.</p>
            </div>
        </div><!--Final seccion historia -->

        <div id="nosotros" class="row align-items-strech my-3 staff py-4"> <!--Arranca seccion nosotros-->
            <div class="col-lg-8 offset-lg-2">
                <h2>Nosotros</h2>
                <div class="row row-cols-1 row-colsmd-4 g-4">
                    <div class="card-group">
                        <div class="card">
                            <img src="images/nosotros03.jpg" class="card-img-top" alt="Roberto Rucci">
                            <div class="card-body">
                                <h5 class="card-title">Roberto Rucci</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>

                            </div>
                        </div>
                        <div class="card">
                            <img src="images/nosotros01.jpg" class="card-img-top" alt="Daiana Moreno">
                            <div class="card-body">
                                <h5 class="card-title">Daina Moreno</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to
                                    additional content.</p>

                            </div>
                        </div>
                        <div class="card">
                            <img src="images/nosotros02.jpg" class="card-img-top" alt="Juan Gomez">
                            <div class="card-body">
                                <h5 class="card-title">Juan Gomez</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This card has even longer content than the first to
                                    show that equal height action.</p>

                            </div>
                        </div>
                        <div class="card">
                            <img src="images/nosotros04.jpg" class="card-img-top" alt="Luciano Figueroa">
                            <div class="card-body">
                                <h5 class="card-title">Luciano Figueroa</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This card has even longer content than the first to
                                    show that equal height action.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--Fin Seccion nosotros -->
            <div id="Conocenos" class="row py-4"> <!--Arranca Seccion mapa-->
                <div class="col-md-4 offset-md-2">
                    <h2>Visitanos</h2>
                    <div class="mapa">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6568.405275818068!2d-58.4250787!3d-34.5990371!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb2e1493a6a3%3A0x1862a7c0b8163e5d!2sUTN.BA!5e0!3m2!1ses-419!2sar!4v1705810983909!5m2!1ses-419!2sar"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div> <!--Fin seccion mapa -->
            <div class="col-md-4 offset-lg-2 mt-5 mt-sm-0"> <!--Arranca seccion contacto-->
                <h2>Contactanos</h2>
                <form class="row g-3" action="/" method="post"> 
                    <div class="col-md-6">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="Apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="Apellido" name="Apellido">
                    </div>
                    <div class="col-12">
                        <label for="Email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="Email" placeholder="example@email.com" name="Email">
                    </div>
                    <div class="col-12">
                        <label for="Tel" class="form-label">Tel</label>
                        <input type="text" class="form-control" id="Tel" placeholder="..." name="Tel"> 
                    </div>
                    <div class="col-md-6">
                        <label for="Mensaje" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="Mensaje"  rows="3" name="Mensaje" ></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
                <p> {{message}} </p>

            </div> <!--Fin seccion contactos-->