<div class="container-fluid">
  <div id="home" class="row align-items-center hero">
    <div class="col-lg-3 offset-lg-1">

      <h1>Explora una explosión de frescura con nuestros helados premium!</h1>
      <p><strong>
          En nuestro paraíso helado, cada creación es una obra maestra de sabor y frescura. Desde clásicos atemporales
          hasta innovadoras combinaciones,
          cada helado está elaborado con los ingredientes más selectos y el amor más puro. Déjate seducir por nuestra
          irresistible variedad de sabores
          y sumérgete en una experiencia única que deleitará tus sentidos y te hará volver por más, una y otra vez.
        </strong>

      </p>
    </div>
  </div>
  <div class="row align-items-center my-5 ">
    <div id="nuestros sabores" class="col-md-5 offset-md-5 py-3">
      <h2>Nuestros Sabores</h2>
    </div>
<div class="image-container row">
  {{#each sabores}}
  <div class="col">
    <div class="image-item">
      <a href="#" data-bs-toggle="modal" data-bs-target="#Modal{{id}}">
        <img src="{{imagen}}" alt="Imagen 1">
      </a>
      <p>{{Sabor}}.</p>
    </div>
  </div>
  {{/each}}
</div>

{{#each sabores}}
<div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{Sabor}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li> {{Gustos}} </li>
        </ul>
       
      </div>
    </div>
  </div>
</div> <!--Fin modal-->
{{/each}}

  <div id="nuestros productos" class="row  my-3 staff py-4 ">
    <div class="col-lg-5 offset-lg-4">
      <div class="text-center">
        <h2>Nuestros Productos</h2>
      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="card">
            <img src="/images/1-4 helado.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">1/4Kg de Helado</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img src="/images/1-4 helado.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">1/2Kg de Helado</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6">
          <div class="card">
            <img src="/images/1-4 helado.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">1Kg de Helado</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img src="/images/1-4 helado.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">1 1/2Kg de Helado</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="historia" class="row align-items-center  py-4 bg-gray">
  <div class="col-lg-4 col-md-6 offset-lg-2">
    <h2>Historia</h2>
    <p>"Grana Helados nace en el año 1932 en el corazón de la ciudad de Lanús, cuando Don José Grana, un amante de los
      sabores auténticos y la buena compañía,
      decidió llevar su pasión por los helados a un nivel completamente nuevo.</p>
    <p>Lo que comenzó como una modesta empresa familiar pronto se convirtió en un emblema local,
      conocido por la frescura de sus ingredientes y la riqueza de sus sabores. Con el tiempo, la pequeña carretilla
      se transformó en una próspera heladería,
      donde las generaciones de la familia Grana continuaron compartiendo su amor por los helados con la comunidad.
    </p>
    <p>Hoy en día, Grana Helados sigue siendo un símbolo de tradición y calidad en Lanús, manteniendo viva la esencia
      y el legado de Don José.
      Cada cucharada de nuestros helados sigue contando la historia de una familia que creía en la importancia de
      compartir momentos dulces con aquellos que amamos."</p>
    </p>
  </div>
  <div class="col-lg-2 col-md-3 mt-4 mt-md-0">
    <div class="d-none d-sm-block">
      <img src="/images/historia1.jpg" alt="historia 1" class="img-fluid">
    </div>
  </div>
  <div class="col-lg-2 col-md-3 mt-4 mt-md-0">
    <div class="d-none d-sm-block">
      <img src="/images/historia2.jpg" alt="historia 2" class="img-fluid">
    </div>
  </div>

</div><!--Final seccion historia -->

<div id="contacto" class="col-md-4 offset-lg-2 mt-5 mt-sm-0  py-4 "> <!--Arranca seccion contacto-->
  <h2>Contacto</h2>
  <form class="row g-3" action="/" method="post">
    <div class="col-md-6">
      <label for="Nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="Nombre" name="Nombre">
    </div>
    <div class="col-md-6">
      <label for="Apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="Apellido" name="Apellido">
    </div>
    <div class="col-12">
      <label for="Email" class="form-label">Email</label>
      <input type="email" class="form-control" id="Email" name="Email" placeholder="example@email.com">
    </div>
    <div class="col-12">
      <label for="Tel" class="form-label">Tel</label>
      <input type="text" class="form-control" id="Tel" name="Tel" placeholder="...">
    </div>
    <div class="col-md-6">
      <label for="Mensaje" class="form-label">Mensaje</label>
      <textarea class="form-control" id="Mensaje" name="Mensaje" rows="3"></textarea>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
  <p class="verde-negrita"> {{message}} </p>
</div>













</div>